html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    background: #262B3A;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar {
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: #ffffff;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

* {
    border: 2px;
    border-color: red;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

    ul li {
        list-style: none;
        margin-left: 62px;
    }

        ul li a {
            text-decoration: none;
            color: #fff;
        }

@media (max-width: 767px) {
    /* Styles for small screens */
}

/* Example media query for medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Styles for medium screens */
    .laptop {
        display: none;
    }

    .laptop-text {
        display: none;
    }

    .laptop-lines {
        display: none;
    }

    .p {
        color: white
    }

    .p1 {
        color: #86DAA2;
        width: 75px;
        height: 21px;
        left: 142px;
        top: 270px;
        font-family: Segoe UI;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        color: #86DAA2;
    }

    .p2 {
        color: white;
        width: 293px;
        height: 54px;
        left: 33px;
        top: 295px;
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
    }

    .p3 {
        color: #86DAA2
    }

    .p4 {
        color: white
    }

    .p5 {
        color: #86DAA2
    }

    .p6 {
        color: white
    }

    .p7 {
        color: #86DAA2
    }

    .p8 {
        color: white
    }

    .p9 {
        color: #86DAA2
    }

    .p10 {
        color: white
    }

    .about-text {
        color: white;
    }

    .section-1 {
    }

    .firts-text {
        width: 265px;
        height: 90px;
        left: calc(50% - 265px/2 - 0.5px);
        top: 120px;
        font-family: Segoe UI;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 29px;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
    }
}

/* Example media query for large screens */
@media (min-width: 1024px) {
    /* Styles for large screens */
    * {
        border: 2px solid red;
    }
    .section-1 {
        padding-top: 810px;
        padding-bottom: 230px;
    }

    .firts-text {
        position: absolute;
        width: 977px;
        height: 318px;
        left: calc(50% - 977px/2 - 0.5px);
        top: 351px;
        font-family: Segoe UI;
        font-style: normal;
        font-weight: 600;
        font-size: 80px;
        line-height: 106px;
        text-align: center;
        color: #FFFFFF;
    }

    .about {
        display: flex;
        justify-content: space-between;
    }

    .p {
        width: 977px;
        height: 318px;
        top: 351px;
        font-family: Segoe UI;
        font-style: normal;
        font-weight: 600;
        line-height: 136.41px;
        font-size: 80px;
        color: #ffffff;
        text-align: center;
        margin-inline: 351px;
    }

    .p1 {
        margin-bottom: 32px;
        font-size: 24px;
        font-weight: 400;
        color: #86DAA2;
        line-height: 32px;
        margin-left: 40px;
    }

    .p2 {
        font-size: 50px;
        font-weight: 700;
        line-height: 67px;
        margin-bottom: 50px;
        text-transform: capitalize;
        font-style: normal;
        color: #ffffff;
    }

    .about-text {
        margin-left: 40px;
        color: white;
    }

    .section-2 {
        padding-top: 280px;
        padding-bottom: 100px;
        color: white;
    }

    .rectangles {
        display: flex;
        gap: 20px;
        justify-content: center
    }
    .section-title{
        display:flex;
        flex-direction:column;
        align-items:center;
        padding-bottom:60px
    }
    .section-header {
        font-size: 24px;
        font-weight: 400;
        color: #86DAA2;
        line-height: 32px;
        text-transform:uppercase;
    }
    .section-subheader {
        font-size: 50px;
        font-weight: 700;
        line-height: 67px;
        text-transform: capitalize;
        font-style: normal;
        color: #ffffff;
    }

    .services-p1 {
        font-size: 24px;
        font-weight: 400;
        color: #86DAA2;
        line-height: 31.92px;
        text-align: center;
        margin-bottom: 32px;
    }

    .services-p2 {
        font-size: 50px;
        font-weight: 700;
        color: #ffffff;
        line-height: 66.5px;
        text-align: center;
        margin-bottom: 50px;
    }

    .rectangle {
        background: #22242D;
        color: white;
        width: 298px;
        height: 269px;
    }

    .rectangle-b {
        padding: 13px;
    }

    .paragraf-text {
        font-family: Segoe UI;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 23px;
        text-transform: capitalize;
        margin-left: 18px;
        margin-top: 30px;
    }

    .rectangls-text {
        margin-left: 18px
    }



    .section-3 {
        padding-top: 150px;
        padding-bottom: 100px;
        color: white;
    }

    .work-p1 {
        width: 616px;
        height: 249px;
        background: #22242D;
    }

    .work-p2 {
        width: 616px;
        height: 249px;
        background: #22242D;
    }

    .section-4 {
        padding-top: 220px;
        padding-bottom: 100px;
        color: white;
    }

    .contactus {
        width: 100%;
        height: 373px;
        background: #22242D;
        color: white;
    }

    .contactus1 {
    }

    .contactus2 {
    }

    .address-text {
        margin-inline: 110px;
        width: 90px;
        margin-top: 0px;
        height: 5px;
        font-size: 17px;
        font-weight: 400;
        color: #86DAA2;
        line-height: 35px;
        text-align: center;
        margin-bottom: 32px;
    }

    .contactus-text {
        margin-left: 104px
    }


    .phonesvg {
    }

    .phonesvg1 {
    }

    .phone-text {
        font-size: 17px;
        font-weight: 400;
        color: #86DAA2;
        line-height: 35px;
        text-align: center;
        margin-bottom: 32px;
    }

    .phone-text1 {
    }

    .emailsvg {
    }

    .email-text {
        font-size: 17px;
        font-weight: 400;
        color: #86DAA2;
        line-height: 31.92px;
        text-align: center;
        margin-bottom: 32px;
    }

    .emailik-text {
    }

    .emailiksvg {
        font-weight: 400;
        color: #86DAA2;
        line-height: 31.92px;
        text-align: center;
        margin-bottom: 32px;
    }

    .section-5 {
        padding-top: 190px;
        padding-bottom: 100px;
        color: white;
    }

    .vacancies-text {
        text-align: center;
        margin-left: 357px;
    }

    .arintellect {
        padding: 85px;
        margin-left: 488px;
    }

    .section-6 {
        padding-top: 150px;
        padding-bottom: 100px;
        color: white;
    }

    .info-p1 {
        font-size: 17px;
        font-weight: 700;
        color: #ffffff;
        line-height: 23px;
    }

    .info-p2 {
        font-size: 17px;
        font-weight: 700;
        color: #ffffff;
        line-height: 23px;
        text-align: center;
    }

    .info-p3 {
        font-size: 17px;
        font-weight: 700;
        color: #ffffff;
        line-height: 66.5px;
        text-align: center;
        margin-bottom: 30px;
    }

    .ar-info {
    }

    .info-t1 {
    }

    .info-t2 {
    }

    .info-t3 {
    }
}
