@{
    ViewData["Title"] = "Home Page";
}
<div class="section-1 container">

    <p class="firts-text">Bridging Education,<br /> Environment, and Digital<br /> Innovation </p>


    <div class="about">
        <div>
            <p class="p1" href="#about">
                ABOUT US
            </p>

            <p class="p2">
                Your Trusted Partner in<br/>the Digital World
            </p>
        </div>

        <div>
            <img src="/css/Images/laptopik.svg" class="laptop" />
        </div>

    </div>
    <p class="about-text">We are driven by a passion for technology and a commitment to<br /> excellence. With a deep understanding of the ever-evolving IT<br /> landscape, we deliver innovative and customized solutions to help<br /> businesses harness the power of technology and achieve their goals.</p>

</div>

<div class="section-2 container">
    <div>
        <div class="section-title">
            <p class="section-header">
                SERVICES
            </p>

            <p class="section-subheader">
                What We Do
            </p>

        </div>
        <div class="rectangles">

            <div class="rectangle">

                <img src="/css/Images/rectangle-1.svg" class="rectangle-b" />
                <p class="paragraf-text"> Web & Mobile App <br /> Development</p>
                <p class="rectangls-text">We create exceptional digital<br /> experiences for web and mobile<br /> platforms.</p>

            </div>

            <div class="rectangle">

                <img src="/css/Images/rectangle-2.svg" class="rectangle-b" />
                <p class="paragraf-text"> Business Analytics &<br />Technical Spec. Writing</p>
                <p class="rectangls-text">We deliver data-driven insights<br /> and precise documentation for<br /> successful software development.</p>

            </div>

            <div class="rectangle">

                <img src="/css/Images/rectangle-3.svg" class="rectangle-b">
                <p class="paragraf-text"> GIS & Map Powered App<br /> Development</p>
                <p class="rectangls-text">We create GIS-powered apps<br /> that redefine location-based<br />experiences.</p>

            </div>

            <div class="rectangle">

                <img src="/css/Images/rectangle-4.svg" class="rectangle-b" />
                <p class="paragraf-text"> UI/UX Design</p>
                <p class="rectangls-text"> We build captivating and user-<br />centric interfaces for<br /> unforgettable experiences.</p>

            </div>
        </div>
    </div>
</div>

<div class="section-3 container">
    <div>

        <div class="section-title">

            <p class="section-header">
                PROJECTS
            </p>

            <p class="section-subheader">
                Our Works
            </p>
        </div>
        <div class="about-projects">
            <div class="work-p1">

                <img src="/css/Images/works-p1.svg" class="rectangle-b" />
                <p class="paragraf-text" style="font-family: 'Segoe UI';font-style: normal;font-weight: 700;font-size: 17px;line-height: 23px;text-transform: capitalize; margin-left: 18px;margin-top: 30px;"> Police Operational Management Center Develoment <br /> & Maintenance</p>
                <p class="rectangls-text" style="margin-left:18px">This is about management from Emergency Call to Duty<br /> Officers operations with Real Time Collaboration</p>
            </div>
            <div class="work-p2">
                <img src="/css/Images/works-p2.svg" class="rectangle-b" />
                <p class="paragraf-text"> EcoIntellect Portal</p>
                <p class="rectangls-text">  Educational Platform to Learn About Ecology and to Help  <br /> Keep our Environment Clean and Healthy with Gamification Elements</p>
            </div>


        </div>

    </div>
</div>


<div class="section-4 container">
    <div>

        <div class="section-title">

            <p class="section-header">
                CONTACT US
            </p>

            <p class="section-subheader">
                Get In Touch
            </p>
        </div>
        <div class="contactus">
            <div class="circle-background">
                <img src="/css/Images/Address.svg" class="contactus1">
                <p class="address-text">ADDRESS</p>
                <div>
                    <p class="contactus-text" style="">Tigran Mets 80</p>
                </div>
            </div>
            <div class="circle-background">
                <img src="/css/Images/Phone.svg" class="phonesvg" />
                <p class="phone-text">PHONE</p>
                <div>
                    <p class="phone-number"> +374 (94) 763 304</p>
                </div>
            </div>
            <div class="circle-background">
                <img src="/css/Images/Email.svg" class="emailsvg">
                <p class="email-text">EMAIL</p>
                <div>
                    <img src="/css/Images/emailik.svg" class="emailiksvg" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-5 container">
    <div>
        <div class="section-title">

            <p class="section-header">
                VACANCIES
            </p>

            <p class="section-subheader">
                Join Our Team
            </p>

        </div>
        <div class="vacancies">
            <p class="vacancies-text">We value a diverse and talented workforce. We seek individuals who p ossess a<br /> combination of technical expertise, professional experience, and personal qualities<br />that align with our company values.  Please send your resume to</p>
            <img src="/css/Images/ArIntellect.svg" class="arintellect" />
        </div>
    </div>
</div>


<div class="section-6 container">
    <div class="info-container">

        <img src="/css/Images/ArIntellectLogo.svg" class="ar-info" />
        <p class="logo">ArIntellect</p>

    </div>
    <div class="title">

        <p>
            Company

        </p>

        <p>
            Office

        </p>

        <p>
            Follow

        </p>
    </div>
    <div class="title-text">


        <p> Aboutx <br />Services <br />Contacts</p>
        <p> Address: Tigran Mets 80 <br />Phone: +374 (00) 000 000<br /> Email: <img src="~/css/Images/emailik.svg"></p>
        <p> Services  <br />Linkedin <br />Twitter</p>

    </div>
   

</div>


