@{
    ViewData["Title"] = "Home Page";
}
<div class="section-1 container">
    <p class="firts-text">Bridging Education,<br /> Environment, and Digital<br /> Innovation </p>



    <p class="p1"href="#about">
        ABOUT US
    </p>

    <p class="p2">
        Your Trusted Partner in<br /> the Digital World
    </p>

    <img src="/css/Images/Laptop.svg" class="laptop" />
    <img src="/css/Images/TextLaptop.svg" class="laptop-text"/>
    <img src="/css/Images/Lines.svg" class="laptop-lines" />

    <p class="about-text">We are driven by a passion for technology and a commitment to<br /> excellence. With a deep understanding of the ever-evolving IT<br /> landscape, we deliver innovative and customized solutions to help<br /> businesses harness the power of technology and achieve their goals.</p>
</div>

<div class="section-2 container">
    <div>

        <p class="p3">
            SERVICES
        </p>

        <p class="p4">
            What We Do
        </p>

        <div class="rectangle1">

            <img src="/css/Images/rectangle-1.svg" class="rectangle-b"/>
            <p class="paragraf-text"> Web & Mobile App <br /> Development</p>
            <p class="rectangls-text">We create exceptional digital<br /> experiences for web and mobile<br /> platforms.</p>

        </div>

        <div class="rectangle2">

            <img src="/css/Images/rectangle-2.svg" class="rectangle-b"/>
            <p class="paragraf-text" > Business Analytics &<br />Technical Spec. Writing</p>
            <p class="rectangls-text">We deliver data-driven insights<br /> and precise documentation for<br /> successful software development.</p>

        </div>

        <div class="rectangle3">

            <img src="/css/Images/rectangle-3.svg" class="rectangle-b">
            <p class="paragraf-text"> GIS & Map Powered App<br /> Development</p>
            <p class="rectangls-text">We create GIS-powered apps<br /> that redefine location-based<br />experiences.</p>

        </div>

        <div class="rectangle4">

            <img src="/css/Images/rectangle-4.svg" class="rectangle-b"/>
            <p class="paragraf-text"> UI/UX Design</p>
            <p class="rectangls-text"> We build captivating and user-<br />centric interfaces for<br /> unforgettable experiences.</p>

        </div>
    </div>
</div>

<div class="section-3 container">
    <div class="projects-container" >

        <p class="p5">
            PROJECTS
        </p>

        <p class="p6">
            Our Works
        </p>

        <div class="work-p1">

            <img src="/css/Images/works-p1.svg" class="rectangle-b"/>
            <p class="paragraf-text" style="font-family: 'Segoe UI';font-style: normal;font-weight: 700;font-size: 17px;line-height: 23px;text-transform: capitalize; margin-left: 18px;margin-top: 30px;"> Police Operational Management Center Develoment <br /> & Maintenance</p>
            <p class="rectangls-text" style="margin-left:18px">This is about management from Emergency Call to Duty<br /> Officers operations with Real Time Collaboration</p>

        </div>

        <div class="work-p2">

            <img src="/css/Images/works-p2.svg" class="rectangle-b"/>
            <p class="paragraf-text"> EcoIntellect Portal</p>
            <p class="rectangls-text">  Educational Platform to Learn About Ecology and to Help  <br /> Keep our Environment Clean and Healthy with Gamification Elements</p>
        </div>
    </div>
</div>


<div class="section-4 container">
    <div class="contactus-container">

        <p class="p7">
            CONTACT US
        </p>

        <p class="p8">
            Get In Touch
        </p>

        <div class="contactus">
            <img src="/css/Images/Address.svg" class="contactus1">
            <img src="/css/Images/ADDRESS CYCL.svg" class="contactus2"/>
            <p class="address-text">ADDRESS</p>
            <p class="contactus-text">Tigran Mets 80</p>

            <img src="/css/Images/Phone.svg" class="phonesvg"/>
            <img src="/css/Images/PhoneElips.svg" class="phonesvg1">
            <p class="phone-text">PHONE</p>
            <p class="phone-text"> +374 (94) 763 304</p>

            <img src="/css/Images/Email.svg" class="emailsvg">
            <p class="email-text">EMAIL</p>
            <p class="emailik-text"/>
            <img class="emailiksvg" src="/css/Images/emailik.svg"/>
        </div>
    </div>
</div>


<div class="section-5 container">
    <div class="vacancies-container">

        <p class="p9">
            VACANCIES
        </p>

        <p class="p10">
            Join Our Team
        </p>

        <div class="vacancies">
            <p class="vacancies-text">We value a diverse and talented workforce. We seek individuals who p ossess a<br /> combination of technical expertise, professional experience, and personal qualities<br />that align with our company values.  Please send your resume to</p>
            <img src="/css/Images/ArIntellect.svg" class="arintellect" />
        </div>
    </div>
</div>


<div class="section-6 container">
    <div class="info-container" >

        <p class="info-p1">
            Company
        </p>

        <p class="indo-p2">
            Office
        </p>

        <p class="indo-p3">
            Follow
        </p>

        <div class="info">

            <img src="/css/Images/ArIntellectLogo.svg" class="ar-info"/>
            <p class="info-t1"> About<br />Services<br />Contacts</p>
            <p class="info-t2"> Address: Tigran Mets 80<br />Phone: +374 (00) 000 000<br /><img src="~/css/Images/emailik.svg" style="padding: 77px;margin-left: -74px; margin-top: -70px;margin-bottom: 47px;"> </p>
            <p class="info-t3"> Facebook<br />Linkedin<br />Twitter</p>
        </div>
    </div>
</div>


