@{
    ViewData["Title"] = "Home Page";
}
<div class=" section-1" style="padding-top: 450px;padding-bottom: 170px;">
    <p style="    position: absolute;
    width: 977px;
    height: 318px;
    top: 351px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    line-height: 136.41px;
    font-size: 80px;
    text-align: center;
    margin-inline: 351px;
}">Bridging Education,<br /> Environment, and Digital<br /> Innovation </p>

</div>

<div class="section-2">
    <div class="services-container" style="padding-top: 166px;padding-bottom: 100px;">

        <p style="font-size:24px;
       font-weight:400;
       color:#86DAA2;
       line-height: 31.92px;
       text-align: center;
       margin-bottom: 32px;">
            SERVICES
        </p>

        <p style="font-size:50px;
       font-weight:700;
    color: #ffffff;
    line-height: 66.5px;
    text-align: center;
    margin-bottom: 50px;">
            What We Do
        </p>

        <div class="rectangle1" style="width: 298px;height: 269px;background: #22242D;">

            <img src="/css/Images/rectangle-1.svg" class="b" />
            <p class="rectangls-paragraf-text" style="font-family: 'Segoe UI';font-style: normal;font-weight: 700;font-size: 17px;line-height: 23px;text-transform: capitalize; margin-left: 18px;margin-top: -68px;"> Web & Mobile App <br /> Development</p>
            <p class="rectangls-text" style="margin-left:18px">We create exceptional digital<br /> experiences for web and mobile<br /> platforms.</p>

        </div>

        <div class="rectangle2" style="background: #22242D;margin-top: -269px;margin-left: 318px;width: 298px; height: 269px;background: #22242D;">

            <img src="/css/Images/rectangle-2.svg" class="b" />
            <p class="rectangls-paragraf-text" style="font-family: 'Segoe UI';font-style: normal;font-weight: 700;font-size: 17px;line-height: 23px; text-transform: capitalize;margin-left: 18px;margin-top: -68px;"> Business Analytics &<br />Technical Spec. Writing</p>
            <p class="rectangls-text" style="margin-left:18px">We deliver data-driven insights<br /> and precise documentation for<br /> successful software development.</p>

        </div>

        <div class="rectangle3" style="width: 298px;height: 269px;margin-top: -269px;margin-left:638px;background: #22242D;">

            <img src="/css/Images/rectangle-3.svg" class="b" />
            <p class="rectangls-paragraf-text" style="font-family: 'Segoe UI';font-style: normal;font-weight: 700;font-size: 17px;line-height: 23px; text-transform: capitalize;margin-left: 18px;margin-top: -68px;">GIS & Map Powered App<br /> Development</p>
            <p class="rectangls-text" style="margin-left:18px">We create GIS-powered apps<br /> that redefine location-based<br />experiences.</p>

        </div>

        <div class="rectangle4" style="width: 298px;height: 269px;margin-top: -269px;margin-left: 958px;background: #22242D;">

            <img src="/css/Images/rectangle-4.svg" class="b" />
            <p class="rectangls-paragraf-text" style="font-family: 'Segoe UI';font-style: normal;font-weight: 700;font-size: 17px;line-height: 23px; text-transform: capitalize;margin-left: 18px;margin-top: -68px">UI/UX Design</p>
            <p class="rectangls-text" style="margin-left:18px">We build captivating and user-<br />centric interfaces for<br /> unforgettable experiences.</p>

        </div>
    </div>
</div>

<div class="section-3">
    <div class="projects-container" style="padding-top: 150px;padding-bottom: 100px;">

        <p style="font-size:24px;
       font-weight:400;
       color:#86DAA2;
       line-height: 31.92px;
       text-align: center;
       margin-bottom: 32px;">
            PROJECTS
        </p>

        <p style="font-size:50px;
       font-weight:700;
    color: #ffffff;
    line-height: 66.5px;
    text-align: center;
    margin-bottom: 50px;">
            Our Works
        </p>

        <div class="work-p1" style="width: 616px;height: 249px;background: #22242D;">

            <img src="/css/Images/works-p1.svg" class="b" />
            <p class="work-paragraf-text" style="font-family: 'Segoe UI';font-style: normal;font-weight: 700;font-size: 17px;line-height: 23px;text-transform: capitalize; margin-left: 18px;margin-top: -68px;"> Police Operational Management Center Develoment <br /> & Maintenance</p>
            <p class="work-text" style="margin-left:18px">This is about management from Emergency Call to Duty<br /> Officers operations with Real Time Collaboration</p>

        </div>

        <div class="work-p2" style="margin-top: -249px;margin-left: 642px;width: 616px;height: 249px;background: #22242D;">

            <img src="/css/Images/works-p2.svg" class="b" />
            <p class="work-paragraf-text" style="font-family: 'Segoe UI';font-style: normal;font-weight: 700;font-size: 17px;line-height: 23px; text-transform: capitalize;margin-left: 18px;margin-top: -68px;">EcoIntellect Portal</p>
            <p class="work-text" style="margin-left:18px"> Educational Platform to Learn About Ecology and to Help  <br /> Keep our Environment Clean and Healthy with Gamification Elements</p>

        </div>


    </div>
</div>


<div class="section-4">
    <div class="contactus-container" style="padding-top: 150px;padding-bottom: 100px;">

        <p style="font-size:24px;
       font-weight:400;
       color:#86DAA2;
       line-height: 31.92px;
       text-align: center;
       margin-bottom: 32px;">
            CONTACT US
        </p>

        <p style="font-size:50px;
       font-weight:700;
    color: #ffffff;
    line-height: 66.5px;
    text-align: center;
    margin-bottom: 50px;">
            Get In Touch
        </p>

        <div class="contactus" style="width: 1440px;height: 373px;background: #22242D;">

            <img src="/css/Images/Address.svg" class="aaa" style="margin-inline: -13px;" />
            <img src="/css/Images/ADDRESS CYCL.svg" class="aaa" style="margin-inline: -289px;" />
            <p class="contactus-paragraf-text" style="margin-inline: 87px; width: 90px;margin-top: -95px; height: 5px; font-size: 17px;font-weight: 400;color: #86DAA2;line-height: 35px;text-align: center;margin-bottom: 32px;">ADDRESS</p>
            <p class="contactus-text" style="margin-left:80px">Tigran Mets 80</p>

            <img src="/css/Images/Phone.svg" class="aaa" style="margin-inline: 574px; margin-top: -261px;" />
            <img src="/css/Images/PhoneElips.svg" class="aaa" style="margin-inline: 573px;margin-top: -310px;" />
            <p class="contactus-paragraf-text" style="margin-top: -124px;font-size:17px;font-weight:400;color:#86DAA2;line-height: 35px;text-align: center;margin-bottom: 32px;">PHONE</p>
            <p class="contactus-text" style="margin-left: 655px;margin-top: -32px;">+374 (94) 763 304</p>

            <img src="/css/Images/Email.svg" class="aaa" style="margin-inline: 1190px; margin-top: -246px;" />
            <p class="contactus-paragraf-text" style="font-size:17px;font-weight:400;color:#86DAA2;line-height: 31.92px;text-align: center;margin-bottom: 32px;margin-left: 1237px;margin-top: -96px;">EMAIL</p>
            <p class="contactus-text" style="margin-left:18px" />
            <img src="/css/Images/emailllllllllll.svg" style="font-weight:400;color:#86DAA2;line-height: 31.92px;text-align: center;margin-bottom: 32px;margin-left: 1179px;margin-top: -150px;" />

        </div>
    </div>
</div>


<div class="section-5">
    <div class="contactus-container" style="padding-top: 150px;padding-bottom: 100px;">

        <p style="font-size:24px;
       font-weight:400;
       color:#86DAA2;
       line-height: 31.92px;
       text-align: center;
       margin-bottom: 10px;">
            VACANCIES
        </p>

        <p style="font-size:50px;
       font-weight:700;
    color: #ffffff;
    line-height: 66.5px;
    text-align: center;
    margin-bottom: 30px;">
            Join Our Team
        </p>

        <div class="vacancies">

            <p class="vacancies-text" style="text-align: center;">We value a diverse and talented workforce. We seek individuals who p ossess a<br /> combination of technical expertise, professional experience, and personal qualities<br />that align with our company values.  Please send your resume to</p>
            <img src="/css/Images/ArIntellect.svg" class="arintellect" style="padding: 85px;margin-left: 491px;margin-top: -120px;" />

        </div>
    </div>
</div>

