@{
    ViewData["Title"] = "Home Page";
}
<p style="    position: absolute;
    width: 977px;
    height: 318px;
    top: 351px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    line-height: 136.41px;
    font-size: 80px;
    text-align: center;
    margin-inline: 351px;
}">Bridging Education,<br /> Environment, and Digital<br /> Innovation </p>

<div class="section-2">
    <div class="services-container" style="padding-top: 1725px;padding-bottom: 4192px;">

        <p style="font-size:24px;
       font-weight:400;
       color:#86DAA2; 
       line-height: 31.92px;
       text-align: center;
       margin-bottom: 32px;">
       SERVICES    
    </p>

    <p style="font-size:50px;
       font-weight:700;
    color: #ffffff;
    line-height: 66.5px;
    text-align: center;
    margin-bottom: 50px;">
    What We Do</p>

        <div class="rectangle1" style="width: 298px;height: 269px;background: #22242D;">

        <img src="/css/Images/rectangle-1.svg" class="b"/>
            <p class="rectangls-paragraf-text" style="font-family: 'Segoe UI';font-style: normal;font-weight: 700;font-size: 17px;line-height: 23px;text-transform: capitalize; margin-left: 18px;margin-top: -68px;"> Web & Mobile App <br /> Development</p>
        <p class="rectangls-text" style="margin-left:18px">We create exceptional digital<br/> experiences for web and mobile<br/> platforms.</p>

    </div>

        <div class="rectangle2" style="background: #22242D;margin-top: -269px;margin-left: 318px;width: 298px; height: 269px;background: #22242D;">

        <img src="/css/Images/rectangle-2.svg" class="b" />
            <p class="rectangls-paragraf-text" style="font-family: 'Segoe UI';font-style: normal;font-weight: 700;font-size: 17px;line-height: 23px; text-transform: capitalize;margin-left: 18px;margin-top: -68px;"> Business Analytics &<br />Technical Spec. Writing</p>
            <p class="rectangls-text" style="margin-left:18px" >We deliver data-driven insights<br /> and precise documentation for<br /> successful software development.</p>

    </div>

        <div class="rectangle3" style="width: 298px;height: 269px;margin-top: -269px;margin-left:638px;background: #22242D;">

        <img src="/css/Images/rectangle-3.svg" class="b" />
            <p class="rectangls-paragraf-text" style="font-family: 'Segoe UI';font-style: normal;font-weight: 700;font-size: 17px;line-height: 23px; text-transform: capitalize;margin-left: 18px;margin-top: -68px;">GIS & Map Powered App<br /> Development</p>
            <p class="rectangls-text" style="margin-left:18px">We create GIS-powered apps<br /> that redefine location-based<br />experiences.</p>

    </div>

        <div class="rectangle4" style="width: 298px;height: 269px;margin-top: -269px;margin-left: 958px;background: #22242D;">

        <img src="/css/Images/rectangle-4.svg" class="b" />
            <p class="rectangls-paragraf-text" style="font-family: 'Segoe UI';font-style: normal;font-weight: 700;font-size: 17px;line-height: 23px; text-transform: capitalize;margin-left: 18px;margin-top: -68px">UI/UX Design</p>
            <p class="rectangls-text" style="margin-left:18px">We build captivating and user-<br />centric interfaces for<br /> unforgettable experiences.</p>

    </div>
    </div>
</div>