<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArIntellect</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ArIntellect.styles.css" asp-append-version="true" />
</head>
<body>
    <header style="max-width:100%;">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand" style="margin-top:11px;">
                        <img src="~/css/Images/ArIntellectLogo.svg" style="padding: 89px;margin-left: 2px;margin-top: -128px;margin-bottom: -158px;" />
                        <p class="navbar-item logo" style="font-size: 17px;font-weight: 400;line-height: 22px;margin-left: 180px;margin-top: -10px;">ArIntellect</p>
                    </div>
                    <div class="navbar-menu">
                        <ul class="navbar-end" style="margin: 0%;color:white;">
                            <li class="navbar-item" style="color:white;"><a  >About</a></li>
                            <li class="navbar-item"style="color:white;"><a >Services</a></li>
                            <li class="navbar-item"style="color:white;"><a >Projects</a></li>
                            <li class="navbar-item"style="color:white;"><a >Vacancies</a></li>
                        </ul>
                    </div>
                    <div>
                        <button class="button is-primary , ContactUs">
                            Contact Us
                        </button>
                    </div>
                </div>
            </nav>
        </nav>
        <script src="~/js/site.js"> </script>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="text-align: center;
}">
            &copy;2023 ArIntellect. All Rights Reserved
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<style>
    /* Custom styles */
    .navbar {
        background: #262b3a;
        color: #fff;
        width: 100%;
        height: 84px;
    }

    .navbar-item {
        background: #262b3a;
        color: #fff;
    }

    .navbar .icon {
        display: flex;
        align-items: center;
    }

    .navbar .logo {
        margin: 0;
    }

    .navbar .menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .navbar .menu ul li {
            display: inline-block;
            margin-right: 1rem;
        }

            .navbar .menu ul li a {
                color: #fff;
                text-decoration: none;
            }

                .navbar .menu ul li a:hover {
                    color: #f5f5f5;
                }

    .ContactUs {
        background: linear-gradient(97.73deg, #86DAA2 0%, #77C4A0 33.33%, #54949B 66.67%, #396D97 100%);
        white-space: nowrap;
        padding: 16px 32px;
        border: none;
        color: white;
        font-weight: 500;
        border-radius: 6px;
        cursor: pointer;
        text-emphasis-color: #ffffff;
        top: 22px;
    }

    .pb-3 {
        padding-bottom: unset;
    }
</style>